$nav-border-color: $gray-100 !default;
$nav-border-width: .125rem !default;
$nav-hover-border-color: $gray-400 !default;
$nav-active-border-color: $primary !default;

$navbar-border-color: $gray-200 !default;
$navbar-border-width: $nav-border-width !default;
$navbar-active-border-color: #51a7f9 !default;
