@mixin always-wide() {
  margin-left:  ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);

  @include media-breakpoint-up(sm) {
    margin-left:  calc((100vw - #{map_get($container-max-widths, sm)} + #{$grid-gutter-width}) / -2);
    margin-right: calc((100vw - #{map_get($container-max-widths, sm)} + #{$grid-gutter-width}) / -2);
  }

  @include media-breakpoint-up(md) {
    margin-left:  calc((100vw - #{map_get($container-max-widths, md)} + #{$grid-gutter-width}) / -2);
    margin-right: calc((100vw - #{map_get($container-max-widths, md)} + #{$grid-gutter-width}) / -2);
  }

  @include media-breakpoint-up(lg) {
    margin-left:  calc((100vw - #{map_get($container-max-widths, lg)} + #{$grid-gutter-width}) / -2);
    margin-right: calc((100vw - #{map_get($container-max-widths, lg)} + #{$grid-gutter-width}) / -2);
  }

  @include media-breakpoint-up(xl) {
    margin-left:  calc((100vw - #{map_get($container-max-widths, xl)} + #{$grid-gutter-width}) / -2);
    margin-right: calc((100vw - #{map_get($container-max-widths, xl)} + #{$grid-gutter-width}) / -2);
  }
}

@mixin mobile-wide() {
  margin-left:  ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);

  @include media-breakpoint-up(sm) {
    margin-left:  0;
    margin-right: 0;
  }
}

@mixin mobile-wide-sm() {
  margin-left:  ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);

  @include media-breakpoint-up(sm) {
    margin-left:  calc((100vw - #{map_get($container-max-widths, sm)} + #{$grid-gutter-width}) / -2);
    margin-right: calc((100vw - #{map_get($container-max-widths, sm)} + #{$grid-gutter-width}) / -2);
  }

  @include media-breakpoint-up(md) {
    margin-left:  0;
    margin-right: 0;
  }
}
