@each $prefix, $value in $font-sizes {
  .f#{$prefix} { font-size: $value; }
}

.font-small-caps { font-variant: small-caps; }
.font-smooth { @include font-smoothing(); }
.outline-0 { outline: 0; }
.pre-line { white-space: pre-line; }
.text-break-word { word-wrap: break-word; }
